<a href="https://colab.research.google.com/github/ballerzzz/python/blob/main/%EA%B3%BC%EC%A0%9C7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num = 200
if num > 100:
  print("100q 보다 큽니다")
  print("프로그램")
  print("끝")

100q 보다 큽니다
프로그램
끝

In [2]:
num = int(input("정수를 입력 : "))

if num%2 == 0:
  print("짝수")
else:
  print("홀수")

정수를 입력 : 12
짝수

In [6]:
n = int(input("숫자를 입력 ==> "))

if n > 100:
  if n < 1000:
    print("100에서 1000 사이다") 
  else:
    print("1000 보다 크다")
else:
  print("100보다 작다")

숫자를 입력 ==> 1100
1000 보다 크다

In [8]:
n = int(input("점수를 입력 ==> "))

if n >= 90:
  print("A 학점입니다")
elif n >= 80:
  print("B 학점입니다")
elif n >= 70:
  print("C 학점입니다")
elif n >= 60:
  print("D 학점입니다")
else: 
  print("F 학점입니다")

점수를 입력 ==> 95
A 학점입니다

In [12]:
n = int(input("점수를 입력 ==>"))


if n >= 90:
  print("A 학점입니다")
else:
  if n>= 80:
    print("B 학점입니다")
  else: 
    if n >= 70:
      print("C 학점입니다")
    else:
      if n>=60:
        print("D 학점입니다")
      else:
        print("F 학점입니다")

점수를 입력 ==>96
A 학점입니다