<a href="https://colab.research.google.com/github/ballerzzz/python/blob/main/%EA%B3%BC%EC%A0%9C9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
for i in range(3):
  print(i,"컴퓨터과 3학년 1반")

0 컴퓨터과 3학년 1반
1 컴퓨터과 3학년 1반
2 컴퓨터과 3학년 1반

In [4]:
for i in [0, 1, 2, 3, 4] :
  print(i, "컴퓨터과 3학년 1반")

0 컴퓨터과 3학년 1반
1 컴퓨터과 3학년 1반
2 컴퓨터과 3학년 1반
3 컴퓨터과 3학년 1반
4 컴퓨터과 3학년 1반

In [6]:
for i in ["봄", "여름", "가을", "겨울"]:
  print(i, "컴퓨터과 3학년 1반")

봄 컴퓨터과 3학년 1반
여름 컴퓨터과 3학년 1반
가을 컴퓨터과 3학년 1반
겨울 컴퓨터과 3학년 1반

In [ ]:
for i in range(1, 11, 1):
  print(i, "컴퓨터과")

In [7]:
for i in range(2, 6, 1) :
  print(i, end=" ")

2 3 4 5

In [11]:
n = 1
for i in range(1,6,1):
  n = n * i

print("A B C D E 학생들을 순서대로 세우는 경우의 수",n)

A B C D E 학생들을 순서대로 세우는 경우의 수 120

In [14]:
sum = 0

for i in range(1, 11, 1):
  sum = sum + i

print(sum)

55

In [22]:
sum = 0
for i in range(1001,2001,2):
  sum = sum + i
print(sum)

750000

In [23]:
sum = 0

for i in range(1000, 2001, 1):
  if i%2 == 1:
    sum = sum + i
print(sum)

750000

In [28]:
sum, i = 0,0

for i in range(500,1001,2):
  sum = sum + i
print("500에서 1000까지의 합",sum)

500에서 1000까지의 합 188250

In [29]:
for i in range (3) :
  for k in range(2) :
    print("난생처음은 쉽습니다. ^^(i값:",i,",k값:",k,")")

난생처음은 쉽습니다. ^^(i값: 0 ,k값: 0 )
난생처음은 쉽습니다. ^^(i값: 0 ,k값: 1 )
난생처음은 쉽습니다. ^^(i값: 1 ,k값: 0 )
난생처음은 쉽습니다. ^^(i값: 1 ,k값: 1 )
난생처음은 쉽습니다. ^^(i값: 2 ,k값: 0 )
난생처음은 쉽습니다. ^^(i값: 2 ,k값: 1 )

In [37]:
for i in range(1,10,1):
  for j in range(2,10,1):
    print(j,"*",i,"=",j*i,end=" ")
  print("\n")

2 * 1 = 2 3 * 1 = 3 4 * 1 = 4 5 * 1 = 5 6 * 1 = 6 7 * 1 = 7 8 * 1 = 8 9 * 1 = 9

2 * 2 = 4 3 * 2 = 6 4 * 2 = 8 5 * 2 = 10 6 * 2 = 12 7 * 2 = 14 8 * 2 = 16 9 * 2 = 18

2 * 3 = 6 3 * 3 = 9 4 * 3 = 12 5 * 3 = 15 6 * 3 = 18 7 * 3 = 21 8 * 3 = 24 9 * 3 = 27

2 * 4 = 8 3 * 4 = 12 4 * 4 = 16 5 * 4 = 20 6 * 4 = 24 7 * 4 = 28 8 * 4 = 32 9 * 4 = 36

2 * 5 = 10 3 * 5 = 15 4 * 5 = 20 5 * 5 = 25 6 * 5 = 30 7 * 5 = 35 8 * 5 = 40 9 * 5 = 45

2 * 6 = 12 3 * 6 = 18 4 * 6 = 24 5 * 6 = 30 6 * 6 = 36 7 * 6 = 42 8 * 6 = 48 9 * 6 = 54

2 * 7 = 14 3 * 7 = 21 4 * 7 = 28 5 * 7 = 35 6 * 7 = 42 7 * 7 = 49 8 * 7 = 56 9 * 7 = 63

2 * 8 = 16 3 * 8 = 24 4 * 8 = 32 5 * 8 = 40 6 * 8 = 48 7 * 8 = 56 8 * 8 = 64 9 * 8 = 72

2 * 9 = 18 3 * 9 = 27 4 * 9 = 36 5 * 9 = 45 6 * 9 = 54 7 * 9 = 63 8 * 9 = 72 9 * 9 = 81

In [38]:
i = 0
while(i<3):
  print("컴퓨터과 3학년 1반")
  i = i + 1

컴퓨터과 3학년 1반
컴퓨터과 3학년 1반
컴퓨터과 3학년 1반

In [41]:
i = 0
while True :
  print("ㅎ",end=" ")
  i = i + 1
  if i == 10 :
    break

ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ ㅎ

In [46]:
def menu() :
  print("#############")
  print("# 1.덧셈    #")
  print("# 2.뺄셈    #")
  print("# 3.나눗셈  #")
  print("# 4.곱셈    #")
  print("# 5.종료    #")
def add() :
  num1 = float(input("숫자1을 입력 : "))
  num2 = float(input("숫자2을 입력 : "))
  sum = num1 + num2
  return sum
def minus() :
  num1 = float(input("숫자1을 입력 : "))
  num2 = float(input("숫자2을 입력 : "))
  sum = num1 - num2
  return sum
def times() :
  num1 = float(input("숫자1을 입력 : "))
  num2 = float(input("숫자2을 입력 : "))
  sum = num1 * num2
  return sum
def divide() :
  num1 = float(input("숫자1을 입력 : "))
  num2 = float(input("숫자2을 입력 : "))
  sum = num1 / num2
  return sum

while True :
  menu()
  select = int(input("메뉴를 선택 : "))
  if select == 5 :
    break
  elif select == 1:
    sum = add()
    print("두수의 덧셈 결과: ", sum)
  elif select == 2:
    sum = minus()
    print("두수의 뺼셈 결과: ", sum)
  elif select == 3:
    sum = divide()
    print("두수의 나눗셈 결과: ", sum)
  elif select == 4:
    sum = times()
    print("두수의 곱하기기 결과: ", sum)

#############
# 1.덧셈    #
# 2.뺄셈    #
# 3.나눗셈  #
# 4.곱셈    #
# 5.종료    #
메뉴를 선택 : 1
숫자1을 입력 : 4
숫자2을 입력 : 3
두수의 덧셈 결과:  7.0
#############
# 1.덧셈    #
# 2.뺄셈    #
# 3.나눗셈  #
# 4.곱셈    #
# 5.종료    #
메뉴를 선택 : 4
숫자1을 입력 : 3
숫자2을 입력 : 6
두수의 곱하기기 결과:  18.0
#############
# 1.덧셈    #
# 2.뺄셈    #
# 3.나눗셈  #
# 4.곱셈    #
# 5.종료    #
메뉴를 선택 : 3
숫자1을 입력 : 6
숫자2을 입력 : 2
두수의 나눗셈 결과:  3.0
#############
# 1.덧셈    #
# 2.뺄셈    #
# 3.나눗셈  #
# 4.곱셈    #
# 5.종료    #
메뉴를 선택 : 2
숫자1을 입력 : 5
숫자2을 입력 : 1
두수의 뺼셈 결과:  4.0
#############
# 1.덧셈    #
# 2.뺄셈    #
# 3.나눗셈  #
# 4.곱셈    #
# 5.종료    #
메뉴를 선택 : 5